.option-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.indent {
  margin-left: 1.5em;
}

.indent2 {
  margin-left: 3em;
}

.box-visible{
  visibility: visible;
}

.box-collapse{
  display: none;
}

div.border {
  border: solid thin gray;
  background-color: white;
  padding: 3px 3px 3px 3px;
  margin: 3px 10px 0px 0px;
  height: 5em;
  overflow: auto;
}